#menu{
  display: none;
}
.section{
  color: lightblue;
  margin: 5px;
  width: 125px;
  background-color: green;
  align-items: center;
  font-size: 30px;
  position: absolute;
  border-radius: 5px;
  border: 1px solid;
}
#about{
  top: 25px;
  z-index: 999;
}
#contact{
  top: 75px;
  z-index: 99;
}
#portfolio{
  top: 125px;
  z-index: 9;
}
.info {
  display: none;
  width: 100%;
  font-size: 20px;
  border: 1px solid;
  background-color: green;
}
.template{
  display: none;
}

.bar{
  background-color: black;
  margin: 6px;
  height: 5px;
  width: 35px;
}
.holder{
  display: block;
  width: 100%;
  height: 1000px;
  background-color: green;
  margin-top: 200px;
  font-size: 30px;
}
@media screen and (min-width: 700px){
  #menu{
   display: inline;
   visibility: visible;
  }
}
